{% if paginator.total_pages > 1 %}
{% assign page1_path = '/' %}
<!-- Pagination -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{% if paginator.previous_page == 1 %}{{ page1_path }}{% else %}{{ site.paginate_path | replace: ':num', paginator.previous_page }}{% endif %}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% else %}
      <a href="{% if page == 1 %}{{ page1_path }}{% else %}{{ site.paginate_path | replace: ':num', page }}{% endif %}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ site.paginate_path | replace: ':num', paginator.next_page }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
