// Private variables
$font-size-base:    16px;
$font-size-large:   round($font-size-base * 1.25);
$font-size-small:   round($font-size-base * 0.85);
$line-height-base:  1.75;
$line-height-half:  $font-size-base * $line-height-base / 2;
$body-bg-color:     transparent;
$code-colors:       #c7254e transparent #e1e1e8;
$pre-colors:        inherit transparent #ccc;

// Core Variables and Mixins
@import 'base/variables', 'base/mixins';

// Adjust browser support
@include support($legacy-ie: false, $legacy-webkit: false, $legacy-moz: false);

// Reset
@import 'base/reset';

// Utility classes
@import 'base/placeholders', 'base/utilities';

// .entry-title
@include font-face(typewriter, SecretTypewriterRegular, $includes: woff ttf);
// .iconfont-xxx
@include font-face(fontello, $includes: woff ttf);


// IE10 Metro responsive
@-ms-viewport {
  width: device-width;
}

html {
  height: 100%;
  overflow: auto;
  background: image-url('summer.jpg') no-repeat fixed center top;
  background-size: cover;
}

body {
  text-align: center;

  &.home .entry-title {
    text-align: left;
  }

  &:not(.home) {
    max-width: 1200px - 20px * 2;
    margin: {
      left: auto;
      right: auto;
    }
    padding: 0 20px;
    background-color: rgba(#fff, 0.93);

    .copyright {
      padding-top: 30px;
      color: inherit;
      text-shadow: 1px 1px 2px rgba(#000, 0.5);

      a {
        color: inherit;
      }
    }
  }
}

a:hover {
  > code {
    color: inherit;
  }
}

@import 'base/codes';

#{headings(2, 4)} {
  code {
    @extend %clean-code-styles;
  }
}

blockquote {
  padding: 0 15px;
  border-left: 4px solid #ddd;
  color: #777;
}

.logo {
  padding-top: 20px;

  a, img {
    display: inline-block;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 180px;
  }

  img {
    @include animation-name(Spin);
    @include animation-duration(4.5s);
    @include transition-timing-function(linear);
    @include animation-delay(3s);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate);
  }
}

@include keyframes(Spin) {
  from {
    @include rotate(0deg);
  }
  to {
    @include rotate(360deg);
  }
}

.copyright {
  clear: both;
  padding: 60px 0 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(#fff, 0.8);

  a {
    color: #fff;
  }

  span {
    padding: 0 10px;
    white-space: nowrap;
  }
}

@media screen and (max-device-width: 320px) {
  .copyright i {
    display: none;
  }
}

.entry-list {
  li {
    display: inline-block;
    background-color: rgba(#fff, 0.93);
    margin: 50px 20px 0;
    padding: 15px 20px 10px;
    @include transition(transform 0.1s);

    &:nth-of-type(2n + 1) {
      @include rotate(-5deg);
    }

    &:nth-of-type(2n) {
      @include rotate(2deg);
    }

    &:nth-of-type(3n) {
      @include rotate(6deg);
    }

    &:hover {
      @include rotate(0deg);
    }
  }
}

.entry {
  @extend %clearfix;
  padding-top: 30px;
  border-bottom: 1px dashed #ddd;
  text-align: left;

  > header {
    text-align: center;
  }

  @for $i from 2 through 4 {
    h#{$i} {
      font-size: $font-size-large + (3 - $i) * 4;
    }
  }

  h2 {
    padding-top: $line-height-half;
  }

  #{headings(2, 4)},
  ol, ul, p, pre, blockquote {
    margin-bottom: $line-height-half;
  }

  ol, ul {
    margin-left: 25px;

    ol, ul {
      margin: {
        top: 0;
        bottom: 0;
      }
    }

    ul {
      list-style: circle;
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  img {
    max-width: 100%;
  }

  p > iframe {
    margin-bottom: 1px;
    vertical-align: middle;
  }
}

.entry-title {
  font: {
    family: SecretTypewriterRegular, $font-family-base;
    size: 32px;
  }
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(#000, 0.3);

  a {
    color: $text-color;
    @include transition(color 0.5s ease-out);

    &:hover {
      color: nth($link-colors, 1);
    }
  }
}

.entry-meta {
  padding-top: 5px;
  color: #999;
  font-size: $font-size-small;
}

[class^='iconfont-'] {
  &::before {
    display: inline-block;
    margin-right: 5px;
    font: {
      family: fontello;
      weight: normal;
      style: normal;
    }
    -webkit-font-smoothing: antialiased;
  }
}
.iconfont-time::before {
  content: '\e800';
}

@import 'highlight';

// Gist
.gist .gist-file {
  .gist-data, .gist-syntax {
    background: none !important;
  }
}
